RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^(config\.php|footer\.php|header\.php|main\.php|backup\.php) - [F,L,NC]
RewriteRule ^(_backup/|assets/|core/|migration/|models/|templates/) - [F,L,NC]
