RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^(assets/css|assets/fonts|assets/js)($|/) - [L]

RewriteRule ^(config\.php|header\.php|legende\.php|main\.php|menu\.php|backup\.php) - [F,L,NC]
RewriteRule ^(_backup/|assets/|core/|migration/|models/|templates/) - [F,L,NC]
