@font-face {
  font-family: 'icons';
  src:
    url('../fonts/icons.ttf') format('truetype'),
    url('../fonts/icons.woff') format('woff'),
    url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-columns:before {
  content: "\e911";
}
.icon-help:before {
  content: "\e90c";
}
.icon-triangle-down:before {
  content: "\e900";
}
.icon-triangle-right:before {
  content: "\e901";
}
.icon-database:before {
  content: "\e910";
}
.icon-test:before {
  content: "\e90d";
}
.icon-save:before {
  content: "\e90e";
}
.icon-mail:before {
  content: "\e90f";
}
.icon-list:before {
  content: "\e90b";
}
.icon-print:before {
  content: "\e908";
}
.icon-filter:before {
  content: "\e909";
}
.icon-sun-dark:before {
  content: "\e902";
}
.icon-sun:before {
  content: "\e907";
}
.icon-cross:before {
  content: "\e905";
}
.icon-minus:before {
  content: "\e904";
}
.icon-eye-blocked:before {
  content: "\e903";
}
.icon-plus:before {
  content: "\e906";
}
.icon-eye:before {
  content: "\e90a";
}
