/**
 * icons.scss
 *
 * Enthält Icon-Klassen
 *
 * Index
 * - Ausbildungsstart-Markierung
 * - Ausbildungsende-Markierung
 * - Markierung für einzelne und längere Termine
 */

@import "3rd-party-icons.scss";

.icon-plan-mark {
    border-top: 4px solid black;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.icon-plan-mark-separat {
    background-color: #000;
    position: absolute;
    top: 0;
    right: 45%;
    bottom: 0;
    left: 45%;
}

.icon-mark-begin,
.icon-mark-end {
    position: relative;

    &:after {
        border-top: 8px solid black;
        content: " ";
        position: absolute;
        top: 0;
        height: 0;
        width: 0;
    }
}

.icon-mark-begin:after {
    border-right: 8px solid transparent;
    left: 0;
}

.icon-mark-end:after {
    border-left: 8px solid transparent;
    right: 0;
}


/* Anpassung 3rd-party-class */
.icon-cross {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 16px;
    height: 16px;
    opacity: 0.3;

    &:hover {
        cursor: pointer;
        opacity: 1;
    }
}
