/**
 * plan.scss
 *
 * Enthält den Style für den Plan.
 */

#Plan {
    overflow: auto;

    table, th, td {
        border: 1px solid $gray;
    }

    table {
        border-collapse: collapse;

        thead {
            tr:first-of-type th {
                height: 47px;
                top: 0;
            }

            tr:last-of-type th {
                top: 56px; // height + padding top + padding-bottom of first row
            }
        }

        tbody th {
            text-align: left;
            white-space: nowrap;
        }

        th {
            background-color: white;
            -moz-box-shadow: 0 0 0 1px $gray;
            box-shadow: 0 0 0 0.5px $gray;
            padding: 4px 8px;
            position: sticky;
            z-index: 100;

            &.month {
                width: 48px;
            }

            &.current-week {
                background-color: $selectline-blue-gray;
            }
        }

        @-moz-document url-prefix() {
            th {
                box-shadow: 0 0 0 1px $gray !important;
            }
        }

        tr .ausbildungsberuf {
            cursor: pointer;

            &:hover i {
                color: $selectline-blue;
            }

            i {
                vertical-align: middle;
            }
        }

        tr.space-row {
            &:last-of-type {
                display: none;
            }

            th {
                background-color: transparent !important;
            }
        }

        td {
            position: relative;
            white-space: nowrap;

            &.selected {
                border-color: inherit !important;

                &::before {
                    background-color: rgba(0, 0, 0, 0.2);
                    content: " ";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }

            .ansprechpartner-name {
                background-color: rgba(white, 0.4);
                font-size: 12px;
                padding: 0 4px;
                position: absolute;
                top: 0;
                left: 0;
                user-select: none;
                z-index: 99;
            }
        }
    }
}
