/**
 * print.scss
 *
 * Enthält die Styles für die druckbare Version des Plans.
 */

@import "variables.scss";
@import "icons.scss";
@import "plan.scss";
@import "legende.scss";

body {
    margin: 0 16px;
    overflow-y: hidden;
}

#BlackScreen {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999999;
}

#Header {
    padding: 16px 0;
}

h1 {
    color: $selectline-blue;
    margin-top: 0;
}

#Plan {
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible;

    table {
        font-size: 10px;

        th {
            padding: 2px 8px;
            position: initial;
        }

        .current-week {
            background-color: white !important;
        }

        .ansprechpartner-name {
            font-size: 10px !important;
        }
    }
}

.legenden-list {
    color: $selectline-text-blue;
    grid-template-columns: auto auto auto auto auto auto;

    .legende .symbol {
        border: 0;
    }
}


/* Hintergrundfarben anzeigen */
* {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}

@page {
    size: A4 landscape;
}

@media print {
    #BlackScreen {
        display: none;
    }
}
