/**
 * print.scss
 *
 * Enthält die Styles für die druckbare Version des Plans.
 */

@import "variables.scss";
@import "icons.scss";
@import "plan.scss";

h1 {
    color: $selectline-blue;
}

#Legende {
    .toggle-legende {
        display: none;
    }

    .legenden-list {
        display: flex;

        .legende {
            margin-right: 32px;

            > div {
                display: inline-block;
                vertical-align: middle;
            }

            /* TODO: vereinheitlichen in icons.scss */
            .symbol {
                position: relative;
                height: 1em;
                width: 32px;

                &.begin-end > div {
                    &:before,
                    &:after {
                        border-top: 8px solid red;
                        content: " ";
                        position: absolute;
                        top: 0;
                        height: 0;
                        width: 0;
                    }

                    &:before {
                        border-right: 8px solid transparent;
                        left: 0;
                    }

                    &:after {
                        border-left: 8px solid transparent;
                        right: 0;
                    }
                }

                &.marker > div {
                    background-color: black;
                    margin: 0 auto;
                    height: 100%;
                    width: 4px;
                }
            }
        }
    }
}

@media print {
    @page {
        size: landscape;
    }

    /* Hintergrundfarben anzeigen */
    * {
        -webkit-print-color-adjust: exact !important;
        color-adjust: exact !important;
    }

    body {
        margin: 300px 0 0;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #Plan {
        overflow: visible;
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 100000;

        table {
            .current-week {
                background-color: white !important;
            }
        }
    }
}
