/**
 * print.scss
 *
 * Enthält die Styles für die druckbare Version des Plans.
 */

@import "variables.scss";
@import "icons.scss";
@import "plan.scss";

body {
    margin: 0 16px;
    overflow-y: hidden;
}

#BlackScreen {
    background-color: black;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99999999999;
}

#Header {
    padding: 16px 0;
}

h1 {
    color: $selectline-blue;
    margin-top: 0;
}

#Legende {
    .toggle-legende {
        display: none;
    }

    .legenden-list {
        display: grid;
        font-size: 12px;
        grid-template-columns: auto auto auto auto auto auto;

        .legende {
            margin-right: 32px;

            > div {
                display: inline-block;
                vertical-align: middle;
            }

            .symbol {
                position: relative;
                height: 1em;
                width: 32px;
            }
        }
    }
}

#Plan {
    margin: 0 !important;
    padding: 0 !important;
    overflow: visible;

    table {
        font-size: 10px;

        th {
            padding: 2px 8px;
            position: initial;
        }

        .current-week {
            background-color: white !important;
        }

        .ansprechpartner-name {
            font-size: 10px !important;
        }
    }
}

/* Hintergrundfarben anzeigen */
* {
    -webkit-print-color-adjust: exact !important;
    color-adjust: exact !important;
}

@page {
    size: A4 landscape;
}

@media print {
    #BlackScreen {
        display: none;
    }
}
