@import "variables.scss";
@import "html-elements.scss";
@import "3rd-party.scss";

body {
    color: $selectline-text-blue;
    font-size: 16px;
    margin: 0;
}

header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: grid;
    column-gap: 16px;
    grid-template-columns: auto 1fr;
    margin-bottom: 16px;
    padding: 16px 32px;

    h1 {
        color: $selectline-blue;
        display: inline-block;
        font-size: 32px;
        margin: 0;
    }

    form {
        align-self: center;
        text-align: right;

        label {
            display: inline;
        }
    }
}

main {
    margin: 16px 32px;
}

#Plan {
    margin: 16px 0;

    > div {
        margin-top: 16px;

        &:first-of-type {
            margin-top: 0;
        }
    }

    table, th, td {
        border: 1px solid $gray;
    }

    table {
        border-collapse: collapse;

        th {
            padding: 4px 8px;

            &.month {
                width: 48px;
            }
        }

        td {
            position: relative;
            white-space: nowrap;

            &.azubi-info {
                padding: 4px 8px;
            }

            &.mark-start {
                border-left: 4px solid black !important;
            }

            &.mark-ende {
                border-right: 4px solid black !important;
            }

            &.selected {
                border-color: inherit !important;

                &::after {
                    background-color: rgba(0, 0, 0, 0.2);
                    content: " ";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                }
            }
        }
    }
}

Footer {
    background-color: rgba(white, 0.9);
    border: 1px solid $rgba-selectline-blue;
    border-top-left-radius: 8px;
    box-shadow: 0px 0px 16px -8px rgba($gray, 0.4);
    display: inline-block;
    padding: 16px 24px;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999999999;

    .legende {
        align-items: center;
        display: flex;
        margin: 4px 0;

        &:first-of-type {
            margin: 0 0 4px;
        }

        &:last-of-type {
            margin: 4px 0 0;
        }

        .symbol {
            margin-right: 8px;
            height: 1em;
            width: 32px;

            &.marker > div {
                background-color: black;
                margin: 0 auto;
                height: 100%;
                width: 4px;
            }
        }
    }
}

@media screen and (max-width: $md-max) {
    // TODO: Header anpassen
}

@media screen and (max-width: $sm-max) {
    footer {
        font-size: 12px;
    }
}
