/**
 * public-styles.scss
 *
 * Grundsätzliches Design für die Anwendung. Enthält Styles, die für die Ansicht
 * jedes Benutzers benötigt wird (-> Login-System).
 *
 * Index
 * - header mit Login-Formularen
 * - Planung
 * - Messagebox für Fehlernachrichten
 */

@import "variables.scss";
@import "html-elements.scss";
@import "plan.scss";
@import "legende.scss";
@import "icons.scss";
@import "3rd-party.scss";

html[data-theme='dark'] {

    body,
    html {
        background-color: $selectline-dark-mode-black;
        color: $selectline-dark-mode-white;
    }

    #TopHeader {
        background-color: $selectline-dark-mode-black;
    }

    form label,
    form span {
        color: $selectline-dark-mode-white !important;
    }

    #Plan table {

        th {
            background-color: $selectline-dark-mode-black-light;

            &.current-week {
                background-color: $selectline-dark-mode-black;
                color: $selectline-dark-mode-white;
            }
        }

        .plan-phase {
            color: $selectline-text-blue;
        }
    }

    #Menu {
        background-color: $selectline-dark-mode-black-light;

        li.menu-point:hover {
            background-color: $selectline-dark-mode-black;
            box-shadow: inset 0px 8px 4px -4px #f3f3f3;
        }

        .switch .slider:before {
            color: $selectline-dark-mode-black !important;
        }
    }

    #SubMenu {
        background-color: $selectline-dark-mode-black;
        border-bottom-color: $selectline-dark-mode-white;
        box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 0.5);
    }
}

body {
    background-color: white;
    color: $selectline-text-blue;
    font-family: "Calibri";
    font-size: 16px;
    margin: 0;
}

#Header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 175;
}

#TopHeader {
    align-items: center;
    background-color: white;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
    display: grid;
    column-gap: 16px;
    grid-template-columns: auto auto auto 1fr;
    padding: 8px 16px;

    h1 {
        color: $selectline-blue;
        display: inline-block;
        font-size: 32px;
        margin: 0;
    }

    form {
        align-self: center;
        text-align: right;

        label {
            align-self: center;
            display: inline;
            margin-right: 16px;
        }
    }
}

#ShowMenu {
    align-items: center;
    cursor: pointer;
    display: none;

    &:hover {
        color: $selectline-blue;
        text-decoration: none;

        i {
            margin-left: 8px;
            opacity: 1;
        }

        span {
            text-decoration: none;
        }
    }

    i {
        display: inline-block;
        opacity: 0;
        transition: 0.4s ease;
    }

    span {
        text-decoration: underline;
    }
}

#Menu {
    background-color: $selectline-blue;
    padding: 0 16px;

    nav ul {
        color: white;
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        list-style: none;
        margin: 0;
        padding: 0;

        #Filter form {
            height: 100%;

            label {
                align-items: center;
                display: flex;
                height: inherit;
                padding-right: 16px;

                input {
                    max-width: 256px;
                    width: 256px;
                }
            }
        }

        li.menu-point {
            cursor: pointer;
            font-size: 14px;
            padding: 8px 16px;
            text-align: center;

            &:last-of-type {
                margin-left: auto;

                .menu-icon {
                    align-items: center;
                    display: flex;
                    height: 100%;

                    i:before {
                        vertical-align: unset;
                    }
                }
            }

            &:hover {
                background-color: $selectline-blue-hover;
            }

            .menu-icon {
                height: 24px;

                > i:before {
                    vertical-align: middle;
                }

                i {
                    font-size: 18px;
                }
            }

            .switch {
                position: relative;
                display: inline-block;
                width: 48px;
                height: 24px;

                input {
                    opacity: 0;
                    width: 0;
                    height: 0;

                    &:checked + .slider {
                        background-color: white;
                    }

                    &:focus + .slider {
                        box-shadow: 0 0 1px white;
                    }

                    &:checked + .slider:before {
                        content: "\e913";
                        -webkit-transform: translateX(16px);
                        -ms-transform: translateX(16px);
                        transform: translateX(16px);
                    }
                }

                .slider {
                    background-color: white;
                    border-radius: 32px;
                    cursor: pointer;
                    font-family: "icons";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    -webkit-transition: 0.4s;
                    transition: 0.4s;

                    &:before {
                        border-radius: 50%;
                        color: $selectline-blue;
                        content: "\e907";
                        position: absolute;
                        bottom: -3px;
                        left: 4px;
                        height: 24px;
                        width: 24px;
                        -webkit-transition: 0.4s;
                        transition: 0.4s;
                    }
                }
            }
        }
    }
}

#SubMenu {
    background-color: white;
    border-bottom: 1px solid $selectline-blue;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.3);
    display: none;
    overflow: hidden;
    padding: 0 16px;

    .menu-action {
        display: none;
        padding: 16px 0;
    }
}

#Information > div {
    display: flex;
    gap: 32px;

    label {
        cursor: pointer;
        -webkit-touch-callout: none;
          -webkit-user-select: none;
           -khtml-user-select: none;
             -moz-user-select: none;
              -ms-user-select: none;
                  user-select: none;

        &.disabled,
        &.disabled * {
            color: $gray;
            cursor: not-allowed;
        }
    }
}

#Plan {
    margin-top: 112px;
    max-height: calc(100vh - 112px);

    &.full-height {
        margin-top: 55px;
        max-height: calc(100vh - 55px);
    }
}

#ErrorMessageBox {
    max-width: 50%;
    min-width: 25%;
    position: absolute;
    top: 64px;
    left: 50%;

    > .message {
        background-color: lighten(red, 40%);
        border: 1px solid red;
        border-radius: 8px;
        box-shadow: 0 0 8px 0 red;
        padding: 16px 24px;
        position: relative;
        left: -50%;
        text-align: center;
        z-index: 99999;
    }
}

@media screen and (min-width: $lg-min) {
    #Plan table {
        th.top-left-sticky {
            z-index: 150 !important;

            &:first-of-type {
                left: 0;
            }

            &:nth-of-type(2) {
                left: 117px;
            }

            &:nth-of-type(3) {
                left: 234px;
            }

            &:nth-of-type(4) {
                left: 292px;
            }

            @-moz-document url-prefix() {
                &:first-of-type {
                    left: 1px !important;
                }

                &:nth-of-type(2) {
                    left: 118px;
                }

                &:nth-of-type(3) {
                    left: 235px;
                }

                &:nth-of-type(4) {
                    left: 293px;
                }
            }
        }

        tbody th {
            &:first-of-type,
            &:nth-of-type(2) {
                max-width: 100px;
                min-width: 100px;
            }

            &:first-of-type {
                left: 0;
            }

            &:nth-of-type(2) {
                left: 117px;
            }

            &:nth-of-type(3) {
                left: 234px;
            }

            &:nth-of-type(4) {
                left: 292px;
            }

            @-moz-document url-prefix() {
                &:first-of-type {
                    left: 1px !important;
                }

                &:nth-of-type(2) {
                    left: 118px;
                }

                &:nth-of-type(3) {
                    left: 235px;
                }

                &:nth-of-type(4) {
                    left: 293px;
                }
            }
        }
    }
}

@media screen and (max-width: $md-max) {

    #Menu,
    #SubMenu,
    #ShowMenu {
        display: none !important;
    }

    #Plan table {
        th.top-left-sticky,
        tbody th {
            position: inherit;
        }
    }
}

@media screen and (max-width: $md-max) and (min-width: $md-min) {
    #Login {
        display: grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: 1fr 1fr;
        grid-gap: 16px;

        > label:first-of-type {
            grid-column: 1;
            grid-row: 1;
        }

        > label:last-of-type {
            grid-column: 1;
            grid-row: 2;
        }

        > input[type="submit"] {
            grid-column: 2;
            grid-row: 1;
        }
    }
}

@media screen and (max-width: $sm-max) {
    #TopHeader {
        display: block;

        h1 {
            border-bottom: 1px solid $gray;
            font-size: 24px;
            margin-bottom: 8px;
            padding-bottom: 8px;
            width: 100%;
        }

        form label {
            display: block;
            margin-right: 0;
            margin-bottom: 8px;
        }
    }
}

@media screen and (max-width: $xs-max) {
    header h1 {
        text-align: center;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    height: 12px;
    width: 12px;
}

::-webkit-scrollbar-track {
    background: $selectline-blue-gray;
}

::-webkit-scrollbar-thumb {
    background: $selectline-dark-blue;
}

::-webkit-scrollbar-thumb:hover {
    background: $selectline-blue-hover;
}
