/**
 * style.scss
 *
 * Design für den geschlossenen Bereich, dass heißt angemeldete Benutzer.
 *
 * Daten-Formulare
 * Informations-Button
 * Popup
 * Fehlerbox für Planung
 */

@import "public-style.scss";

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.data-item {
    border: 1px solid $rgba-selectline-blue;
    border-radius: 8px;
    box-shadow: 0px 0px 16px -8px rgba($gray, 0.4);
    padding: 16px 24px;
    position: relative;

    &:hover {
        box-shadow: 0px 0px 16px 0px rgba($gray, 0.4);
    }

    form {
        input[type="button"] {
            margin-bottom: 8px;
        }

        input[type="submit"] {
            white-space: break-spaces;
        }

        label {
            display: grid;
            margin: 8px 0;
            max-width: 256px;

            input[type="date"],
            input[type="email"],
            input[type="number"],
            input[type="text"],
            select {
                max-width: 100%;
                width: 100%;
            }
        }
    }

    .expand-data-item,
    .minimize-data-item {
        align-items: center;
        background-color: $selectline-dark-blue;
        border-radius: 8px;
        position: absolute;
        top: 16px;
        right: 24px;
        height: 24px;
        width: 24px;

        &:hover {
            background-color: $selectline-blue;
            cursor: pointer;
        }
    }

    .expand-data-item {
        &:before,
        &:after {
            background:white;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &:before {
            margin: 6px auto;
            width: 2px;
        }

        &:after {
            height: 2px;
            margin: auto 6px;
        }
    }

    .minimize-data-item:before {
        background:white;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 50%;
    }

    .title {
        color: $selectline-blue;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .item-child {
        align-items: center;
        border-top: 1px solid $gray;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: 16px;
        padding-top: 16px;

        &:first-of-type {
            border-top-width: 0;
        }
    }
}

#InfoButton {
    background-color: $selectline-dark-blue;
    border-radius: 16px;
    color: white;
    margin-left: auto;
    position: relative;
    height: 24px;
    width: 24px;

    &:before {
        content: "?";
        display: block;
        font-size: 20px;
        position: absolute;
        text-align: center;
        top: calc(50% - 0.5em);
        width: 100%;
    }

    &:hover {
        background-color: $selectline-blue;
        cursor: pointer;
    }

    > div {
        background-color: #bdbdcb;
        border: 1px solid #4b556a;
        border-radius: 8px;
        color: #4b556a;
        cursor: default;
        min-width: 256px;
        padding: 8px;
        position: absolute;
        top: 0;
        right: 32px;
        z-index: 9999;

        > div {
            margin-bottom: 8px;

            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

#Popup {
    position: absolute;
    z-index: 9999;

    > div {
        background-color: white !important;
        border: 1px solid $gray;
        border-radius: 8px;
        box-shadow: 0px 0px 16px 4px rgba(0, 0, 0, 0.1);
        padding: 8px 16px;
    }

    .context-popup,
    .set-abteilung-popup,
    .set-ansprechpartner-popup {
        max-height: 128px;
        overflow-y: auto;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            hr {
                background-color: $gray;
                border-width: 0;
                height: 1px;
                margin: 2px 0;
            }

            li {
                white-space: nowrap;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

.plan-actions {
    display: flex;
    justify-content: space-between;
}

#PlanErrors > div {
    border: 1px solid red;
    border-radius: 8px;
    box-shadow: 0 0 8px 5px rgba(255, 0, 0, .1);
    margin-top: 16px;
    padding: 16px 32px;
    width: fit-content;

    .error-container {
        border-bottom: 1px solid $gray;
        margin-bottom: 8px;
        padding-bottom: 8px;

        &:last-of-type {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .description {
            font-weight: bold;
            margin-bottom: 8px;
        }
    }
}

@media screen and (max-width: $md-max) and (min-width: $md-min) {
    .grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: $sm-max) {
    #InfoButton {
        display: none;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .plan-actions {
        display: block;

        input[type="button"] {
            display: block;
            margin-bottom: 16px;
        }
    }
}


@media screen and (max-width: $xs-max) {
    .data-item .show-add-buttons {
        display: grid;
        grid-gap: 8px;

        input[type="button"] {
            margin-right: 0;
        }
    }
}
