@import "public-style.scss";

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.data-item {
    border: 1px solid $rgba-selectline-blue;
    border-radius: 8px;
    box-shadow: 0px 0px 16px -8px rgba($gray, 0.4);
    padding: 16px 24px;
    position: relative;

    &:hover {
        box-shadow: 0px 0px 16px 0px rgba($gray, 0.4);
    }

    .minimize-data-item {
        align-items: center;
        background-color: $selectline-dark-blue;
        border-radius: 8px;
        color: white;
        position: absolute;
        top: 16px;
        right: 24px;
        height: 24px;
        width: 24px;

        &:before {
            background:white;
            content: '';
            margin: auto;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 2px;
            width: 50%;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .title {
        color: $selectline-blue;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .item-child {
        align-items: center;
        border-top: 1px solid $gray;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        padding-top: 16px;

        &:first-of-type {
            border-top-width: 0;
        }
    }
}
