@import "public-style.scss";

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 16px;
}

.data-item {
    border: 1px solid $rgba-selectline-blue;
    border-radius: 8px;
    box-shadow: 0px 0px 16px -8px rgba($gray, 0.4);
    padding: 16px 24px;
    position: relative;

    &:hover {
        box-shadow: 0px 0px 16px 0px rgba($gray, 0.4);
    }

    .expand-data-item,
    .minimize-data-item {
        align-items: center;
        background-color: $selectline-dark-blue;
        border-radius: 8px;
        position: absolute;
        top: 16px;
        right: 24px;
        height: 24px;
        width: 24px;

        &:hover {
            cursor: pointer;
        }
    }

    .expand-data-item {
        &:before,
        &:after {
            background:white;
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }

        &:before {
            margin: 6px auto;
            width: 2px;
        }

        &:after {
            height: 2px;
            margin: auto 6px;
        }
    }

    .minimize-data-item:before {
        background:white;
        content: '';
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 50%;
    }

    .title {
        color: $selectline-blue;
        font-size: 24px;
        margin-bottom: 8px;
    }

    .item-child {
        align-items: center;
        border-top: 1px solid $gray;
        display: flex;
        justify-content: space-between;
        margin-top: 16px;
        padding-top: 16px;

        &:first-of-type {
            border-top-width: 0;
        }
    }
}

.plan-actions {
    display: flex;
    justify-content: space-between;
}

#PlanErrors > div {
    border: 1px solid red;
    border-radius: 8px;
    box-shadow: 0 0 8px 5px rgba(255, 0, 0, .1);
    margin-top: 16px;
    padding: 16px 32px;
    width: fit-content;

    .error-container {
        border-bottom: 1px solid $gray;
        margin-bottom: 8px;
        padding-bottom: 8px;

        &:last-of-type {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        .description {
            font-weight: bold;
            margin-bottom: 8px;
        }
    }
}
